{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-8">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning" role="alert">
            {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>

    <div class="container">
         <div class="row">
        {% for event in list_event %}
              <div class="col-sm-4">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ event.event_date.strftime('%Y-%m-%d') }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{ event.status }}</h6>
                <p class="card-text">{{ event.place }}, {{ event.city }}</p>
                <p class="card-text">{{ event.country }}</p>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Подписаться</label>
                </div>
                  </div>
                </div>
        </div>
        <br>
        {% endfor %}
    </div>
    {% endblock %}
    </div>